MONGODB_URI="mongodb://<user>:<pass>@<host>:27017/<db>?authSource=admin"

CLOUDINARY_NAME="<cloud_name>"
CLOUDINARY_API_KEY="<api_key>"
CLOUDINARY_SECRET_KEY="<api_secret>"

JWT_SECRET="<change_me>"
REFRESH_TOKEN_SECRET="<change_me>"

PORT=4000

